extends ../layouts/default

block content
	div.contentContainer
		div.row-fluid
			div.span4
				h1 All users
		div.row-fluid
			div.span4
				ul
					each user in users
						li: a(href="/admin/users/" + user.id) #{user.email}
			div
