extends ../layouts/default

block content
	div.contentContainer
		div.row-fluid
			div.span4
				h1 Login
			div.span4
				form(action="/admin/users/session", method="post")
					div
						label(for="email") Email
						input#email(type="email", name="email")
					div
						label(for="password") Password
						input#password(type="password", name="password")
					div
						input.btn(type="submit", value="Login")
					if (typeof errors !== 'undefined')
						ul
							each error in errors
								li= error
			div